body {
  text-align: center;
  font-family: "Roboto";
  font-size: 30px;
  color: #f12d2d;
  display: grid;
  grid-gap: 100px;
  place-items: center;

  background: linear-gradient(
      45deg,
      #f12d2d 25%,
      transparent 25%,
      transparent 75%,
      #f12d2d 75%
    ),
    linear-gradient(45deg, #f12d2d 25%, #fdfd96 25%, #fdfd96 75%, #f12d2d 75%);
  /*#f12d2d*/
  background-size: 300px 300px; /* Adjust the size of the squares */
  background-position: 0 0, 150px 150px; /* Shift the second gradient to create the checkered effect */
}
/* Title */
.container {
  background-color: white;
  width: 500px;
  padding: 15px;

  border: 5px solid #181a18;
}
.title {
  font-size: 40px;
  font-style: italic;
  width: 400px;
}
.return-menu {
  width: 150px;
  height: 50px;
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 25px;
  cursor: pointer;
  padding-top: 17px;
}
